#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

header {
  margin: 40px;
}

nav {
  font-size: larger;
  margin: 1%;
  margin: 50px;
}

@media all and (min-width: 1100px) {
  nav {
    margin: 3%;
  }
}

nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

nav a:hover {
  color: pink;
}

nav a.router-link-exact-active {
  color: rgb(246, 78, 106);
  text-decoration: underline;
  cursor: default;
}